---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { db, Item, CartItem, eq } from "astro:db";

const user = await Astro.session?.get("user");

if (!user) {
  return Astro.redirect("/login");
}

const title = "Ваша корзина";
const description = "";

const cart = await db
  .select()
  .from(CartItem)
  .where(eq(CartItem.userId, user.id))
  .innerJoin(Item, eq(CartItem.itemId, Item.id));

const totalPrice = cart.reduce((acc, item) => {
  return (
    acc + Number(item.CartItem.active) * item.CartItem.amount * item.Item.price
  );
}, 0);
---

<BaseLayout {title} {description}>
  <h1>Корзина</h1>
  <a href="/items">Вернуться к списку товаров</a>
  <table>
    <tr>
      <th>Изображение</th>
      <th>Название</th>
      <th>Цена</th>
      <th>Кол-во</th>
      <th>Выбрать</th>
    </tr>
    {
      cart.map((item) => (
        <tr>
          <th>
            <Image
              src={item.Item.image}
              alt={item.Item.name}
              width="120px"
              height="100px"
            />
          </th>
          <td>{item.Item.name}</td>
          <td>{item.Item.price}₽</td>
          <td>
            <input
              type="number"
              value={item.CartItem.amount}
              min="1"
              max={item.Item.unitsInStock}
              class="set-item-amount"
              data-item-id={item.Item.id}
            />
          </td>
          <td>
            <input
              type="checkbox"
              checked={item.CartItem.active}
              class="set-item-active"
              data-item-id={item.Item.id}
            />
          </td>
        </tr>
      ))
    }
  </table>
  {
    cart.length > 0 ? (
      <p>Суммарная цена: {totalPrice}₽</p>
    ) : (
      <p>Корзина пуста</p>
    )
  }
  <button
    id="make-an-order"
    disabled={cart.filter((item) => item.CartItem.active).length < 1}
    >Оформить заказ</button
  >
  <button id="clear-cart" disabled={cart.length < 1}>Очистить корзину</button>
</BaseLayout>

<script>
  import { actions } from "astro:actions";

  const { data: user } = await actions.auth.whoami();
  const { data: cart } = await actions.user.getCart(user!.id);

  const makeAnOrderButton = document.getElementById(
    "make-an-order"
  ) as HTMLButtonElement;
  const clearCartButton = document.getElementById(
    "clear-cart"
  ) as HTMLInputElement;
  const setItemAmountButtons =
    document.querySelectorAll<HTMLButtonElement>(".set-item-amount");
  const setItemActiveCheckboxes =
    document.querySelectorAll<HTMLInputElement>(".set-item-active");

  makeAnOrderButton.onclick = async () => {
    if (confirm("Вы уверены, что хотите оформить заказ?")) {
      await actions.orders.addOrderByUserId(user!.id);
      window.location.reload();
    }
  };

  clearCartButton.onclick = async () => {
    if (confirm("Вы уверены, что хотите очистить корзину?")) {
      await actions.user.clearCart(user!.id);
      window.location.reload();
    }
  };

  setItemAmountButtons.forEach(
    (input) =>
      (input.onchange = async () => {
        const itemId = Number(input.dataset.itemId);
        if (itemId !== 0 && !itemId) {
          alert("Не удалось изменить товар в корзине!");
          return;
        }
        const amount = Number(input.value);
        const { data: item } = await actions.user.setItemInCartAmount({
          userId: user!.id,
          itemId,
          amount,
        });
        if (item) {
          window.location.reload();
        }
      })
  );

  setItemActiveCheckboxes.forEach(
    (checkbox) =>
      (checkbox.onchange = async () => {
        const itemId = Number(checkbox.dataset.itemId);
        if (itemId !== 0 && !itemId) {
          alert("Не удалось изменить товар в корзине!");
          return;
        }
        const active = checkbox.checked;
        const { data: item } = await actions.user.setItemInCartActive({
          userId: user!.id,
          itemId,
          active,
        });
        if (item) {
          window.location.reload();
        }
      })
  );
</script>
