---
import "@styles/shiki.css";
import "@styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

{/* Always include */}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title}</title>
<meta name="description" content={description} />
<meta name="author" content="Efim Ishenin" />

{/* Open Graph */}
<meta property="og:site_name" content="Kursovaya" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={new URL("favicon-512.png", Astro.url.origin)} />
<meta property="og:image:alt" content="Green leaf on a white background" />

<slot name="open-graph" />

{/* Icons */}
<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

{/* Manifest */}
<link rel="manifest" href="/manifest.webmanifest" />

{/* Sitemap */}
<link rel="sitemap" href="/sitemap-index.xml" />

{/* Astro */}
<meta name="generator" content={Astro.generator} />
